a {
  color: inherit;
}

.main-content {
  width: 1200px;
  margin: 100px 80px;
}

.title {
  font-weight: 400;
}

.subtitle {
  font-weight: 400;
}

.decoration {
  text-decoration: none;
}

.text {
  text-align: justify;
}
